{% load static from staticfiles %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel = "stylesheet" href = "{% static 'styles.css' %}">

        <title>Article</title>
    </head>

    <body>
        <header class="wrapper">
            <h1> <a href= "{% url 'articles:page' %}" class="logo"> Article </a> </h1>

            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'accounts:logout' %}" class = 'logout-view' method = 'post'>
                                {% csrf_token %}
                                <button type = 'submit'> Logout </button>
                            </form>
                        </li>
                        <li> <a href="{% url 'articles:create' %}" class = 'article-prompt'> Create An Article </a> </li>
                        <li class="name"> Welcome {{ user }} </li>
                    {% else %}
                        <li> <a href="{% url 'accounts:signup' %}"> Sign Up </a> </li>
                        <li> <a href="{% url 'accounts:login' %}"> Login </a> </li>   
                    {% endif %}
                </ul>
            </nav>
        </header>
        
       <div class="wrapper"> 
            
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
