html {
    font-family: muli;
}

.logo {
    font-weight: bold;
    font-size: 36px;
}

body {
    background-color: #0f121f;
    color: #fff;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: burlywood;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: chocolate;
}

h1 {
    font-weight: bold;

}



