{% extends 'base_layout.html' %}

{% block content %}
    <h1> Login </h1>

    <form action="{% url 'accounts:login' %}" class="site-form" method = 'POST'>
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
            <input type="hidden" name = 'next' value = "{{request.GET.next}}" >
        {% endif %}
        <input type="submit" value = "Login">
    </form>

{% endblock %}