{% extends 'base_layout.html' %}

{% block content %}
    <h1> Sign Up </h1>

    <form action="{% url 'accounts:signup' %}" class="site-form" method = 'POST'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value = "Signup">
    </form>

{% endblock %}