{% extends 'base_layout.html' %}

{% block content %}

    <div class="create-article">
        <h2> Create an Article here </h2>

        <form action="{% url 'articles:create' %}" method = 'post' class = 'site-form' enctype= "multipart/form-data">
            {% csrf_token %}
            {{ form }}

            <input type="submit" value = 'Create'>
        </form>
    </div>

{% endblock %}