{% extends 'base_layout.html' %}

{% block content %}
    <div class="article">
        <div class="article-detail">
            <img src= "{{ article.thumb.url }}" alt="" class="thumb"/>
            <h1> {{ article.title }} </h1>
            <p> {{ article.body }} </p>
            <p> {{ article.date }} </p>

        </div>

    </div> 

{% endblock %}